body {

}

.jumbotron {
    background: url('img/texture-bw.png') center center repeat;
    color: white;
    margin: 0 -2em .5em -2em;
}

#response {
    .bar {
        padding: 0 0;
        background-color: lighten(rgb(56, 167, 187), 20%);
    }
}
