@model IEnumerable<DataCrowds.Models.DataSet>

@foreach (var p in Model)
{
    <tr>
       <td>@Html.ActionLink(p.title, "Details", "DataSets", new { id = p.Id },null)</td>
        <td>@p.description</td>
    </tr>
}

